Node-RED/flows.json
[
   {
      "id":"f4495099.eff84",
      "type":"tab",
      "label":"Temperatura Wemos",
      "disabled":false,
      "info":""
   },
   {
      "id":"dfe580e8.0aa27",
      "type":"mqtt-broker",
      "z":"",
      "name":"Raspberry_mosquitto",
      "broker":"127.0.0.1",   //CHANGE THIS WITH MQTT SERVER IP
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   },
   {
      "id":"937293db.b3689",
      "type":"ui_base",
      "theme":{
         "name":"theme-light",
         "lightTheme":{
            "default":"#0094CE",
            "baseColor":"#0094CE",
            "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
            "edited":true,
            "reset":false
         },
         "darkTheme":{
            "default":"#097479",
            "baseColor":"#097479",
            "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
            "edited":false
         },
         "customTheme":{
            "name":"Untitled Theme 1",
            "default":"#4B7930",
            "baseColor":"#4B7930",
            "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
         },
         "themeState":{
            "base-color":{
               "default":"#0094CE",
               "value":"#0094CE",
               "edited":false
            },
            "page-titlebar-backgroundColor":{
               "value":"#0094CE",
               "edited":false
            },
            "page-backgroundColor":{
               "value":"#fafafa",
               "edited":false
            },
            "page-sidebar-backgroundColor":{
               "value":"#ffffff",
               "edited":false
            },
            "group-textColor":{
               "value":"#1bbfff",
               "edited":false
            },
            "group-borderColor":{
               "value":"#ffffff",
               "edited":false
            },
            "group-backgroundColor":{
               "value":"#ffffff",
               "edited":false
            },
            "widget-textColor":{
               "value":"#111111",
               "edited":false
            },
            "widget-backgroundColor":{
               "value":"#0094ce",
               "edited":false
            },
            "widget-borderColor":{
               "value":"#ffffff",
               "edited":false
            },
            "base-font":{
               "value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            }
         },
         "angularTheme":{
            "primary":"indigo",
            "accents":"blue",
            "warn":"red",
            "background":"grey"
         }
      },
      "site":{
         "name":"Node-RED Dashboard",
         "hideToolbar":"false",
         "allowSwipe":"false",
         "lockMenu":"false",
         "allowTempTheme":"true",
         "dateFormat":"DD/MM/YYYY",
         "sizes":{
            "sx":48,
            "sy":48,
            "gx":6,
            "gy":6,
            "cx":6,
            "cy":6,
            "px":0,
            "py":0
         }
      }
   },
   {
      "id":"8755df3a.0594e",
      "type":"ui_tab",
      "z":"",
      "name":"Home",
      "icon":"dashboard",
      "disabled":false,
      "hidden":false
   },
   {
      "id":"47988023.2e964",
      "type":"ui_group",
      "z":"",
      "name":"Heat",
      "tab":"8755df3a.0594e",
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"385c87bc.ee7ac8",
      "type":"ui_tab",
      "z":"",
      "name":"Graph",
      "icon":"dashboard",
      "disabled":false,
      "hidden":false
   },
   {
      "id":"ff473ed0.039d3",
      "type":"ui_group",
      "z":"",
      "name":"Graph",
      "tab":"385c87bc.ee7ac8",
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"dd86734.4b2509",
      "type":"ui_group",
      "z":"",
      "name":"Control",
      "tab":"5f849524.3b8d3c",
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"5f849524.3b8d3c",
      "type":"ui_tab",
      "z":"",
      "name":"Control",
      "icon":"dashboard",
      "disabled":false,
      "hidden":false
   },
   {
      "id":"199c5127.56cd2f",
      "type":"mqtt in",
      "z":"f4495099.eff84",
      "name":"Raspberry_mosquitto",
      "topic":"dataTemperature/#",
      "qos":"1",
      "datatype":"auto",
      "broker":"dfe580e8.0aa27",
      "x":380,
      "y":100,
      "wires":[
         [
            "ede907ff.1c93d8"
         ]
      ]
   },
   {
      "id":"312246e1.9e4cfa",
      "type":"mqtt in",
      "z":"f4495099.eff84",
      "name":"Raspberry_mosquitto",
      "topic":"dataTemperature/temperature",
      "qos":"1",
      "datatype":"auto",
      "broker":"dfe580e8.0aa27",
      "x":380,
      "y":180,
      "wires":[
         [
            "825ca1ff.e242d",
            "19a914e3.abab0b"
         ]
      ]
   },
   {
      "id":"4fb369ff.4a17a8",
      "type":"mqtt in",
      "z":"f4495099.eff84",
      "name":"Raspberry_mosquitto",
      "topic":"dataTemperature/humidity",
      "qos":"1",
      "datatype":"auto",
      "broker":"dfe580e8.0aa27",
      "x":380,
      "y":240,
      "wires":[
         [
            "606a663a.4ed108",
            "241b99a1.75bde6"
         ]
      ]
   },
   {
      "id":"241715cc.98d72a",
      "type":"mqtt in",
      "z":"f4495099.eff84",
      "name":"Raspberry_mosquitto",
      "topic":"dataTemperature/heat",
      "qos":"1",
      "datatype":"auto",
      "broker":"dfe580e8.0aa27",
      "x":380,
      "y":300,
      "wires":[
         [
            "4234b819.7e3b18",
            "ab6e96c5.6b7178"
         ]
      ]
   },
   {
      "id":"825ca1ff.e242d",
      "type":"ui_text",
      "z":"f4495099.eff84",
      "group":"47988023.2e964",
      "order":0,
      "width":0,
      "height":0,
      "name":"",
      "label":"Temperature",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":670,
      "y":180,
      "wires":[

      ]
   },
   {
      "id":"606a663a.4ed108",
      "type":"ui_text",
      "z":"f4495099.eff84",
      "group":"47988023.2e964",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Humidity",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":660,
      "y":240,
      "wires":[

      ]
   },
   {
      "id":"4234b819.7e3b18",
      "type":"ui_text",
      "z":"f4495099.eff84",
      "group":"47988023.2e964",
      "order":2,
      "width":0,
      "height":0,
      "name":"",
      "label":"Heat",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":650,
      "y":300,
      "wires":[

      ]
   },
   {
      "id":"19a914e3.abab0b",
      "type":"ui_chart",
      "z":"f4495099.eff84",
      "name":"",
      "group":"ff473ed0.039d3",
      "order":0,
      "width":"0",
      "height":"0",
      "label":"Temperature",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"12",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":850,
      "y":220,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"241b99a1.75bde6",
      "type":"ui_chart",
      "z":"f4495099.eff84",
      "name":"",
      "group":"ff473ed0.039d3",
      "order":1,
      "width":"0",
      "height":"0",
      "label":"Humidity",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"12",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":840,
      "y":280,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"ab6e96c5.6b7178",
      "type":"ui_chart",
      "z":"f4495099.eff84",
      "name":"",
      "group":"ff473ed0.039d3",
      "order":2,
      "width":0,
      "height":0,
      "label":"Heat",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"12",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":830,
      "y":340,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"587511f4.3be61",
      "type":"mqtt in",
      "z":"f4495099.eff84",
      "name":"Raspberry_mosquitto",
      "topic":"tenda",
      "qos":"1",
      "datatype":"auto",
      "broker":"dfe580e8.0aa27",
      "x":120,
      "y":460,
      "wires":[
         [
            "790df146.f657",
            "953b8a12.a98208"
         ]
      ]
   },
   {
      "id":"790df146.f657",
      "type":"debug",
      "z":"f4495099.eff84",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":790,
      "y":460,
      "wires":[

      ]
   },
   {
      "id":"b9958c27.a7028",
      "type":"mqtt out",
      "z":"f4495099.eff84",
      "name":"",
      "topic":"tenda",
      "qos":"2",
      "retain":"",
      "broker":"dfe580e8.0aa27",
      "x":790,
      "y":500,
      "wires":[

      ]
   },
   {
      "id":"16dc6e30.a53532",
      "type":"ui_switch",
      "z":"f4495099.eff84",
      "name":"Rele",
      "label":"Rele",
      "tooltip":"",
      "group":"dd86734.4b2509",
      "order":2,
      "width":0,
      "height":0,
      "passthru":true,
      "decouple":"false",
      "topic":"tenda",
      "style":"",
      "onvalue":"1",
      "onvalueType":"str",
      "onicon":"",
      "oncolor":"",
      "offvalue":"0",
      "offvalueType":"str",
      "officon":"",
      "offcolor":"",
      "x":650,
      "y":500,
      "wires":[
         [
            "b9958c27.a7028"
         ]
      ]
   },
   {
      "id":"953b8a12.a98208",
      "type":"rbe",
      "z":"f4495099.eff84",
      "name":"Necessario per non creare loop",
      "func":"rbe",
      "gap":"",
      "start":"",
      "inout":"out",
      "property":"payload",
      "x":390,
      "y":500,
      "wires":[
         [
            "16dc6e30.a53532"
         ]
      ]
   },
   {
      "id":"66b3003b.03f34",
      "type":"ui_button",
      "z":"f4495099.eff84",
      "name":"Tenda",
      "group":"dd86734.4b2509",
      "order":2,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Tenda",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"1",
      "payloadType":"str",
      "topic":"",
      "x":70,
      "y":620,
      "wires":[
         [
            "491fb120.d31c2",
            "87766070.504ac"
         ]
      ]
   },
   {
      "id":"491fb120.d31c2",
      "type":"mqtt out",
      "z":"f4495099.eff84",
      "name":"",
      "topic":"tenda",
      "qos":"1",
      "retain":"",
      "broker":"dfe580e8.0aa27",
      "x":560,
      "y":620,
      "wires":[

      ]
   },
   {
      "id":"87766070.504ac",
      "type":"delay",
      "z":"f4495099.eff84",
      "name":"",
      "pauseType":"delay",
      "timeout":"600",
      "timeoutUnits":"milliseconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":240,
      "y":660,
      "wires":[
         [
            "dd2eedb.1eb1e1"
         ]
      ]
   },
   {
      "id":"dd2eedb.1eb1e1",
      "type":"function",
      "z":"f4495099.eff84",
      "name":"Inverter",
      "func":"if(msg.payload == 1){\n    msg.payload =0;\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":660,
      "wires":[
         [
            "491fb120.d31c2"
         ]
      ]
   },
   {
      "id":"41b7c97d.827318",
      "type":"comment",
      "z":"f4495099.eff84",
      "name":"Trigger che da 1 e poi 0",
      "info":"Trigger che da 1 e poi 0",
      "x":120,
      "y":580,
      "wires":[

      ]
   },
   {
      "id":"ede907ff.1c93d8",
      "type":"debug",
      "z":"f4495099.eff84",
      "d":true,
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":610,
      "y":100,
      "wires":[

      ]
   },
   {
      "id":"36928369.db2bfc",
      "type":"mqtt out",
      "z":"f4495099.eff84",
      "name":"",
      "topic":"clock",
      "qos":"",
      "retain":"",
      "broker":"dfe580e8.0aa27",
      "x":730,
      "y":740,
      "wires":[

      ]
   },
   {
      "id":"3950d3f0.46673c",
      "type":"inject",
      "z":"f4495099.eff84",
      "name":"Date",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"5",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":230,
      "y":740,
      "wires":[
         [
            "85a12df5.44517"
         ]
      ]
   },
   {
      "id":"85a12df5.44517",
      "type":"function",
      "z":"f4495099.eff84",
      "name":"TimeStam Converter",
      "func":"\nlet unix_timestamp = msg.payload\n// Create a new JavaScript Date object based on the timestamp\n// multiplied by 1000 so that the argument is in milliseconds, not seconds.\nvar date = new Date(unix_timestamp);\n// Hours part from the timestamp\nvar hours = date.getHours();\n// Minutes part from the timestamp\nvar minutes = \"0\" + date.getMinutes();\n// Seconds part from the timestamp\nvar seconds = \"0\" + date.getSeconds();\n\n// Will display time in 10:30:23 format\nvar formattedTime = hours + ':' + minutes.substr(-2)\n\nmsg.payload = formattedTime\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":560,
      "y":740,
      "wires":[
         [
            "36928369.db2bfc"
         ]
      ]
   }
]
